<footer class="bg-dark">
  <div class="container pb-1 pb-lg-5">
    <div class="row content-space-t-2">
      <div class="col-lg-3 mb-7 mb-lg-0">
        <!-- Logo -->
        <div class="mb-5">
          <a class="navbar-brand" href="index.html" aria-label="Space">
            <img class="navbar-brand-logo" src="assets/svg/logos/logo-white.svg" alt="Image Description">
          </a>
        </div>
        <!-- End Logo -->

        <!-- List -->
        <ul class="list-unstyled list-py-1">
          <li><a class="link-sm link-light" href="#"><i class="bi-geo-alt-fill me-1"></i>230 Coleridge Ave, East York,  Toronto,  Canada</a></li>
          <li><a class="link-sm link-light" href="tel:1-437-214-9458"><i class="bi-telephone-inbound-fill me-1"></i>+1 437 214 9458</a></li>
        </ul>
        <!-- End List -->
        
      </div>
      <!-- End Col -->

    </div>
    <!-- End Row -->

    <div class="border-top border-white-10 my-7"></div>

    <div class="row mb-7">
      <div class="col-sm mb-3 mb-sm-0">
        <!-- Socials -->
        <ul class="list-inline list-separator list-separator-light mb-0">
          <li class="list-inline-item">
            <a class="link-sm link-light" href="#">Política de privacidade</a>
          </li>
        </ul>
        <!-- End Socials -->
      </div>

      <div class="col-sm-auto">
        <!-- Socials -->
        <ul class="list-inline mb-0">
          <li class="list-inline-item">
            <!-- Button Group -->
            <div class="btn-group">
              <button type="button" class="btn btn-soft-light btn-xs dropdown-toggle" id="footerSelectLanguage" data-bs-toggle="dropdown" aria-expanded="false" data-bs-dropdown-animation>
                <span id="language-active" class="d-flex align-items-center">
                  <img class="avatar avatar-xss avatar-circle me-2" src="assets/vendor/flag-icon-css/flags/1x1/br.svg" alt="Image description" width="16"/>
                  <span>Português</span>
                </span>
              </button>

              <div class="dropdown-menu" aria-labelledby="footerSelectLanguage">
                <a class="dropdown-item d-flex align-items-center language active" href="?lang=en" data-lang="Inglês">
                  <img class="avatar avatar-xss avatar-circle me-2" src="assets/vendor/flag-icon-css/flags/1x1/us.svg" alt="Image description" width="16"/>
                  <span>English (US)</span>
                </a>
                <a class="dropdown-item d-flex align-items-center language" href="?lang=pt" data-lang="Português">
                  <img class="avatar avatar-xss avatar-circle me-2" src="assets/vendor/flag-icon-css/flags/1x1/br.svg" alt="Image description" width="16"/>
                  <span>Português</span>
                </a>
              </div>
            </div>
            <!-- End Button Group -->
          </li>
        </ul>
        <!-- End Socials -->
      </div>

    </div>

    <!-- Copyright -->
    <div class="w-md-85 text-lg-center mx-lg-auto">
      <p class="text-white-50 small">&copy; Canada Software. Todos os direitos reservados.</p>
      <p class="text-white-50 small">
        Quando você visita ou interage com nossos sites, serviços ou ferramentas, nós ou nossos provedores de serviços autorizados podemos usar cookies para armazenar informações para ajudar a fornecer uma experiência melhor, mais rápida e segura e para fins de marketing.
      </p>
    </div>
    <!-- End Copyright -->
  </div>
</footer>

<div id="google_translate_element"  style="display: none"></div>
<script type="text/javascript">
  function googleTranslateElementInit() {
    new google.translate.TranslateElement({
      defaultLanguage: 'pt',
      pageLanguage: 'pt',
      includedLanguages: 'en,pt',
      layout: google.translate.TranslateElement.InlineLayout.SIMPLE, 
      autoDisplay: false}, 'google_translate_element');
  }
  </script>
  
  <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<!-- Flag click handler -->
<script type="text/javascript">
  $('.language').click(function(e) {
    e.preventDefault();
    var lang = $(this).data('lang');
    
    $('.language').removeClass("active")
    $(this).addClass("active")

    $("#language-active").html($(this).html())
    
    var $frame = $('.goog-te-menu-frame:first');
    if (!$frame.size()) {
      alert("Error: Could not find Google translate frame.");
      return false;
    }
    $frame.contents().find('.goog-te-menu2-item span.text:contains('+lang+')').get(0).click();
    return false;
  });
</script>